<section class="auth-container">
    <form #authForm='ngForm' (ngSubmit)='onSubmit(authForm)' class="main-form">
        <mat-form-field>
            <input mat-input type="username" placeholder="Nombre de usuario" matInput id="username" ngModel
                name="username" required />

        </mat-form-field>

        <mat-form-field>
            <input mat-input type="email" placeholder="Email" matInput id="email" ngModel name="email" required email />
        </mat-form-field>

        <mat-form-field>
            <input mat-input type="password" matInput placeholder="Contraseña" id="password" ngModel name='password'
                required minlength="6" />
        </mat-form-field>

        <div class="btns-layout">
            <button mat-raised-button type='submit' color="primary" [disabled]="!authForm.valid">
                Registrarse
            </button>
        </div>
        <div class="formGroup mt-1">
            <span class="or"><span class="orInner">Or</span></span>
        </div>
    </form>
    <div class="main-form">
        <div class="btns-layout">
            <div class="formGroup">
                <button mat-raised-button (click)="tryGoogleAuth()">
                    <i class="fab fa-google-plus-g"></i>
                    Registrate con tu cuenta de Google
                </button>
            </div>
        </div>
        <div class="btns-layout">
            <div class="redirectToLogin">
                <span>¿Ya tienes cuenta? <a class="redirect" routerLink="/login">Conéctate aquí</a></span>
            </div>
        </div>
        <div class="btns-layout">
            <p>Tus datos serán tratados de forma anónima y privada. Solo son usados por Kanji Rumble para mantener una tabla de récords.</p>
        </div>
    </div>
</section>