<mat-card class="card" *ngIf="cardData.length > 0">
    <mat-card-title>
        {{title}}
    </mat-card-title>
    <mat-card-content>
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <mat-grid-list cols="3" gutterSize="20px">
                    <mat-grid-tile *ngFor="let tile of cardData; let i = index" 
                        class="selectable-tile"
                        (click)="selectTile(cardData, i)">
                        <img [src]="getImgSrc(tile)" alt="" [ngClass]="{
                            'selectable-tile-img':true,
                            'active-tile': tile.selected, 
                            'solution-by-help': showSolution
                        }">
                    </mat-grid-tile>
                </mat-grid-list>
              </div> <!-- flip-card-front -->
              <div class="flip-card-back">
              </div>
            </div><!-- flip-card-inner -->
        </div><!-- flip-card -->
    </mat-card-content>
</mat-card>

