@import '../../../variables.scss';

.padding-center {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 2em;
    flex-direction: column;

    @media (max-width: $breakpoint-mobile){
        margin: 1em;
    }

    

    
}

table {
    width: 90%;
    margin: 0 auto;
    text-align: center !important;
    @media (max-width: $breakpoint-mobile){
        width: 100%;
    }
}
.mat-paginator {
    width: 90%;
    margin: 0 auto;
    @media (max-width: $breakpoint-mobile){
        width: 100%;
    }   
}

.header-left {
    text-align: left !important;
}

td.mat-cell:first-of-type {
    @media (max-width: $breakpoint-mobile){
        padding-left: 10px !important;
        padding-right: 10px !important;
    }


}

.avatar {
    display: flex;
    justify-content: flex-start;
    
    img {
        max-width: 30px;
    }

}

.podiun {
    display: flex;
    justify-content: flex-start;
    
    
    img {
        max-width: 20px;
        margin-right: 5px;
        align-self: center;
        height: 100%;
        display: flex;
    }

    label {
        align-self: center;
    }
}


text-center {
    text-align: center !important;
}

  
  .mat-header-cell {
    text-align: center;
  }
