<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <!-- lives -->
        <div fxLayoutAlign="start center" class="lives">
            <span>Vidas:</span>
            <div fxLayout="row">
                <div *ngFor="let life of lives">
                    <ng-container *ngIf="life; else emptylife">
                        <mat-icon class="icon">favorite</mat-icon>
                    </ng-container>
                    <ng-template #emptylife>
                        <mat-icon class="icon">favorite_border</mat-icon>
                    </ng-template>
                </div>
            </div>
        </div>
        <!-- score -->
        <div fxLayoutAlign="end center" class="lives">
            <div fxLayout="row" fxLayout.xs="column">
                <div class="score">
                    <label for="score">Puntuación:</label>
                    <span id="score">{{score}}</span>
                </div>
                <div class="score">
                    <label for="total_time">Tiempo total:</label>
                    <span id="total_time">{{total_time | minuteSeconds}}</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="ready" class="two-cards">
        <app-card class="card"
            [title]="'Carta A'"
            [cardData]='gameMechanics.cardAData'
            [status]='statusCard'
            (selected)="checkIfSuccess($event)">
        </app-card>
        <div  class="spinner">
            <mat-progress-spinner
                [diameter]="diameterSpinner"
                [color]="'warn'"
                [mode]="'determinate'"
                [value]="spinnerValue">
            </mat-progress-spinner>
            <p *ngIf="timerValue > 0" class="timer" fxHide.lt-md="true" >
                {{timerValue}}
            </p>
        </div>
        <app-card class="card"
            [title]="'Carta B'"
            [cardData]='gameMechanics.cardBData'
            [status]='statusCard'
            (selected)="checkIfSuccess($event)">
        </app-card>
    </div>
</div>