<div *ngIf="ready; else loading">

<app-ranking-table [dataset]='dataSource' [cols]='displayedColumns' [title]="'Mejores puntuaciones'"></app-ranking-table>
<app-ranking-table [dataset]='dataSourceWeek' [cols]='displayedColumns' [title]="'Mejores puntuaciones de la semana'"></app-ranking-table>
<app-ranking-table [dataset]='dataSourceMonth' [cols]='displayedColumns' [title]="'Mejores puntuaciones del mes'"></app-ranking-table>

</div>
<ng-template #loading>
    <div fxFlex fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
