
<mat-tab-group>
    <mat-tab label="General">
      <ng-template matTabContent>
        <app-ranking-table [data]='enumRecordPeriod.ALL' [cols]='displayedColumns' [title]="'Mejores puntuaciones'"></app-ranking-table>
      </ng-template>
    </mat-tab>
    <mat-tab label="Mensual">
      <ng-template matTabContent>
        <app-ranking-table [data]='enumRecordPeriod.MONTHLY' [cols]='displayedColumns' [title]="'Mejores puntuaciones del mes'"></app-ranking-table>
      </ng-template>
    </mat-tab>
    <mat-tab label="Semanal">
        <ng-template matTabContent>
            <app-ranking-table [data]='enumRecordPeriod.WEEKLY' [cols]='displayedColumns' [title]="'Mejores puntuaciones de la semana'"></app-ranking-table>
        </ng-template>
      </mat-tab>
  </mat-tab-group>

