<div fxLayout="column">
    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
        <img src="./assets/img/logo2.png" alt="" class="logo">
    </div>
    <div *ngIf="solved; else firstTime" fxFlex fxLayout="column">
        <div class="description">
            <p class="emphasis">¡BIEN HECHO!</p>
            <p>Ahora puedes 
                <a [routerLink]="'/registrarte'">registrarte</a> 
                 o 
                <a [routerLink]="'/login'">entrar</a> 
                 con tu cuenta para poder acceder a más niveles y batir todos los
                récords</p>
        </div>
        <div fxFlex fxLayoutAlign="center center">
            <button mat-raised-button [routerLink]="'/lobby'">Quiero jugar</button>
        </div>
    </div>
    <ng-template #firstTime>
        <div class="description">
            <p>Entre las dos cartas que aparecen en pantalla hay una imagen con el mismo significado.</p>
            <p class="emphasis">¡A ver cómo de rápido eres capaz de encontrarla!</p>
        </div>
        <div class="two-cards">
            <app-card class="card"
                [title]="'Carta A'"
                [cardData]='carta1ejemplo'
                [status]='status'
                (selected)="doNothing($event)">
            </app-card>
            <app-card class="card"
            [title]="'Carta B'"
            [cardData]='carta2ejemplo'
            [status]='status'
            (selected)="doNothing($event)">
        </app-card>
        </div>
        <div *ngIf="showSolution" class="description">
            <p>El significado de ese kanji es 'mano'.</p>
        </div>
        <div fxFlex fxLayoutAlign="space-between center" class="btns-container">
            <div class="btn-help" (click)="giveSolution()">
                <button mat-raised-button>
                    <mat-icon class="icon">sentiment_very_dissatisfied</mat-icon>
                    Ayuda
                </button>
            </div>
            <div class="btn-solution">
                <button mat-raised-button (click)="checkSolution()">
                    <mat-icon class="icon">sentiment_very_satisfied</mat-icon>
                    Comprobar
                </button>
            </div>
        </div>
    </ng-template>
    <div class="description">
        <p>AVISO: Este juego está todavía en desarrollo por lo que puede que te encuentres con algunos problemas. </p>
        <p>Si has encontrado algún problema y nos lo quieres hacer llegar, puedes hacerlo a través de nuestro email.</p>
        <a href = "mailto: kanjirumble@gmail.com">Enviar un email</a>
    </div>
</div>