<mat-sidenav-container class="all-wrap">

  <mat-sidenav #sidenav position="end">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'"  (click)="sidenav.toggle()">
        <mat-icon class="icon-sidenav">home</mat-icon>
        <span class="label">Accueil</span>
      </a>

      <div *ngIf="isLoggedIn()">
        <a mat-list-item [routerLink]="'/account'"  (click)="sidenav.toggle()">
          <mat-icon class="icon-sidenav">person_pin</mat-icon>
          <span class="label">Mi cuenta</span>
        </a>
      
        <a mat-list-item [routerLink]="'/play'"  (click)="sidenav.toggle()">
          <mat-icon class="icon-sidenav">play_arrow</mat-icon>
          <span class="label">Jugar</span>
        </a>
        <a mat-list-item [routerLink]="'/scoreboard'"  (click)="sidenav.toggle()">
          <mat-icon class="icon-sidenav">score</mat-icon>
          <span class="label">Puntuaciones</span>
        </a>
        <a mat-list-item (click)="logout()">
          <mat-icon class="icon-sidenav">exit_to_app</mat-icon>
          <span class="label">Desconectarse</span>
        </a>
    </div>
      <div *ngIf="!isLoggedIn()">
        <a mat-list-item (click)="login()">
          <mat-icon class="icon-sidenav">person_pin</mat-icon>
          <span class="label">Login</span>
        </a>
      </div>
      <mat-list-item (click)="sidenav.toggle()">
        <mat-icon class="icon-sidenav">close</mat-icon>
        <span class="label">Fermer</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="page-wrap">

    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayoutAlign="space-between" fxLayoutGap="20px">
        <div class="logo" fxFlexAlign="center" fxLayout="row">
          <img class="main-img" src="./assets/img/logo1.png" alt="">
          <h1 class="main-text">Kanji Rumble</h1>
        </div>
        <!-- Hiding the menu if resolution is lower than middle -->
        <div fxShow="true" fxHide.lt-md="true" class="menu" fxFlexAlign="center">
          <a mat-button [routerLink]="'/'">
            <mat-icon class="icon">home</mat-icon>
            <span class="label">Accueil</span>
          </a>
          <a *ngIf="isLoggedIn(); else noLoggedIn" 
            mat-button [routerLink]="'/account'">
            <mat-icon class="icon">person_pin</mat-icon>
            <span class="label">Mi cuenta</span>
          </a>
          <ng-template #noLoggedIn>
            <a mat-button [routerLink]="'/login'">
              <mat-icon class="icon">person_pin</mat-icon>
              <span class="label">Login</span>
            </a>
          </ng-template>
          
          <a *ngIf="isLoggedIn()" mat-button [routerLink]="'/play'">
            <mat-icon class="icon">play_arrow</mat-icon>
            <span class="label">Jugar</span>
          </a>
          <a *ngIf="isLoggedIn()" mat-button [routerLink]="'/scoreboard'">
            <mat-icon class="icon">score</mat-icon>
            <span class="label">Puntuaciones</span>
          </a>
          <a *ngIf="isLoggedIn()" mat-button (click)="logout()">
            <!-- <mat-icon class="icon">contact_support</mat-icon> -->
            <span class="label">Desconectarse</span>
          </a>
        </div>
        <div fxFlexAlign="center" fxHide.gt-sm="true">
          <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <main class="content main-content">
      <router-outlet></router-outlet>
    </main>

    <footer class="footer">

      <div class="footer-items"  fxLayout="row">
        <div fxFlex class="copyrigth">&copy;2020 JT & JM Corp</div>
      </div> 
      
    </footer>


  </mat-sidenav-content>

</mat-sidenav-container>