<div fxLayout="column" fxLayoutAlign="center center">
    <div>
        <h2>GAME OVER</h2>
    </div>
    <div *ngIf="(dataService.lastRecordObs | async) as record">
        <div class="item-record">
            <label for="score">Tu puntuación ha sido:</label>
            <span class="big-number">{{record.score}}</span>
            <span  *ngIf="diffScore !== null && diffScore !== 0"
                [ngClass]="{'greenDiff': diffScore > 0, 'redDiff': diffScore < 0, 'greyDiff': diffScore == 0}">
                {{diffScore}}
            </span>
        </div>
        <div class="item-record">
            <label for="time">Tiempo utilizado:</label>
            <span  class="big-number">{{record.total_time | minuteSeconds}}</span>
            <span *ngIf="diffTime !== null  && diffTime !== 0" 
                [ngClass]="{'greenDiff': diffTime < 0, 'redDiff': diffTime > 0, 'greyDiff': diffScore == 0}">
                {{diffTime | minuteSeconds}}
            </span>
        </div>
        <div class="item-record">
            <label for="level">Máximo nivel alcanzado:</label>
            <span>{{record.level}}</span>
        </div>
        <!-- <div>
            <label for="level">Esta puntuacion te coloca en posicion:</label>
        </div> -->
    </div>
    <div class="btns-layout">
        <div class="">
            <span>¿Otra partida? <a class="redirect" routerLink="/play">Click aquí</a></span>
        </div>
    </div>
    <div class="btns-layout">
        <div class="">
            <span>¿Volver a la selección de dificultad? <a class="redirect" routerLink="/lobby">Click aquí</a></span>
        </div>
    </div>
</div>