<section class="auth-container">
    <form #authForm='ngForm' (ngSubmit)='tryforgotPassword(authForm)' class="main-form">
      <mat-form-field>
        <input mat-input type="email"
          placeholder="Tu
          email"
          matInput
          id="email"
          ngModel
          name="email"
          required
          email
        />
      </mat-form-field>
  
      <div class="btns-layout">
        <button mat-raised-button 
          type='submit' 
          color="primary">
          Enviar
        </button>
      </div>
  

    </form>
  </section>
  