<mat-card *ngIf="cardData.length > 0">
    <mat-card-title class="title">
        {{title}}
    </mat-card-title>
    <mat-card-content>
        <mat-grid-list cols="3" gutterSize="20px">
            <mat-grid-tile *ngFor="let tile of cardData; let i = index" 
                class="selectable-tile"
                (click)="selectTile(cardData, i)">
                <div class="container" >
                    <div class="flippable-card" [ngClass]="{'flipped': isFlippedStatus()}">
                            <img class="sides front" [src]="getImgSrc(tile)" alt=""
                            [ngClass]="{
                                'selectable-tile-img':true,
                                'highlight-dev': (modDev && tile.solution),
                                'active-tile': tile.selected, 
                                'highlight-error': isShowSolutionActive(tile)
                            }">
                        <div class="sides back">
                            <img src="./assets/img/logo1.png" alt="" class="cover-card">
                        </div>
                    </div>
                </div>
                
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>

