/* You can add global styles to this file, and also import other style files */
//@import "custom-theme.scss";
@import '@angular/material/prebuilt-themes/purple-green.css';
//@include angular-material-theme($my-theme);
@import './variables.scss';

@font-face {
  font-family: 'Merienda';
  src: url(/assets/fonts/Merienda-Bold.ttf) format("truetype");
  font-weight:300;
}

@font-face {
  font-family: 'Merienda';
  src: url(/assets/fonts/Merienda-Regular.ttf) format("truetype");
  font-weight:300;
}

body {
    margin: 0;
    font-family: 'Merienda', sans-serif;
    @media (max-width: $breakpoint-mobile){   
      font-size: smaller;
    }
    
  }

mat-card {
    margin: 1em;
    opacity: 0.85;
}

a {
  color: lightblue;
}
 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #7aaffb inset !important;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
  padding: 0;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}

.mt-1 {
  margin-top: 1em;
}
.ml-1 {
  margin-left: 1em;
}
.mr-1 {
  margin-right: 1em;
}


.full-width {
  width: 100%;
}