@import '~@angular/material/theming';

// // Copy the palettes from your selected theme (usually theme.scss).
// $app-primary: mat-palette($mat-green);
// $app-accent : mat-palette($mat-amber, 500, 900, A100);
// $app-warn   : mat-palette($mat-red);

// // Create your Sass color vars (will be available in all the project)
// $primary: mat-color($app-primary);
// $accent: mat-color($app-accent);
// $warn: mat-color($app-warn);

$primaryPalette: mat-palette($mat-purple);
$accentPalette:  mat-palette($mat-purple, A200, A100, A400);

// the default warn palette is red, so use that if the theme doesn't define one
$warnPalette:    mat-palette($mat-red);