<section class="auth-container">
    
    <h3>Gracias por registrarte</h3>

    <h4>Hemos enviado un email de confirmacion a tu cuenta de correo.</h4>

    <div class="btns-layout">
        <div class="redirectToLogin">
            <span>¿No has recibido tu email?<a class="redirect" (click)="tryResendEmail()">Haz click aquí</a></span>
        </div>
    </div>

    <div class="btns-layout">
        <span>¿Ya has verificado tu cuenta?<a class="redirect" routerLink="/login">Conectate aquí</a></span>
    </div>
    
  </section>