.main-content {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

.all-info {
    flex-direction: row;
    display: flex;
    flex: 1 1 1e-9px;
    width: 90%;
    justify-content: space-evenly;
}

.user-image {
    display: flex;
    flex-basis: 25%;

    img {
        max-width: 200px;
    }
}

.user-info {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    width: 80%;
}

.item-info {
    display: flex;
    flex-direction: row;
    padding: 1em;

    label {
        padding-right: 0.5em;
    }
}