@import '../../../variables.scss';

.main-content {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

.email-warning {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
}

.all-info {
    flex-direction: row;
    display: flex;
    flex: 1 1 1e-9px;
    width: 90%;
    justify-content: space-evenly;

    @media (max-width: $breakpoint-mobile){
        flex-direction: column;
        align-items: center;
    }
}

.user-image {
    display: flex;
    flex-basis: 25%;
    flex-direction: column;

    img {
        max-width: 150px;
        height: 100%;
        @media (max-width: $breakpoint-mobile){
            max-width: 80px;
        }
    }
}

.user-info {
    display: flex;
    flex-basis: 40%;
    flex-direction: row;
    margin-left: auto;
    align-self: center;
}

.user-settings {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    margin-left: auto;
    align-self: center;
    align-items: flex-start;
    margin-left: 10%;
}


mat-form-field {
    max-width: 150px;
}

.item-info {
    display: flex;
    padding: 1em;

    label {
        padding-right: 0.5em;
    }

    
}

.records {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin-left: 10%;
    @media (max-width: $breakpoint-mobile){
        margin-left: auto;
        align-self: center;
    } 


}

.item-record {
    display: flex;
    margin: 2em;

    label {
        display: flex;
        align-self: center;
        margin-right: 0.5em;
    }
}


.big-number {
    font-size: x-large;
}
