<div >

  <div *ngIf="playerData" class="main-content">
    <h2>Bienvenido a tu cuenta {{playerData?.displayName}}.</h2>

    <div class="all-info">
      <div class="user-image">
        <img src="{{(playerData.photoURL) ? playerData.photoURL : './assets/img/dummy-user.png'}}" alt="{{playerData.displayName}}">
      </div>
      <div class="user-info">
        <div *ngIf="!playerData.emailVerified">
          <h4>Por favor, confirma tu email</h4>
          <p>Si no te ha llegado haz <a class="redirect" (click)="tryResendEmail()">click aquí</a> para enviar otro
            email de confirmacion</p>
        </div>
        <div class="item-info">
          <label for="username">Nombre de usuario:</label>
          <span>{{playerData.displayName}}</span>
        </div>
        <div class="item-info">
          <label for="email">Email:</label>
          <span>{{playerData.email}}</span>
        </div>
      </div>
    </div>

    <div class="records">
      <h3>Tus récords personales</h3>
    </div>
  </div>
</div>